<!DOCTYPE html>
<body>
  <h1>Team of Heroes: <!--Team Name--></h1>
  <h2>Team Motto: </h2>
  <h2>Hero Name: </h2>
  <p>Hero Power: </p>
  <p>Hero Biography: </p>
  <!--should be using Ruby to iterate over an array of Heroes...-->
</body>
</html>
